@page "/specification/create"
@using ECOMMERCE.SUBMISSION.DTO
@inject NavigationManager Nav
@inject OrderApiClient OrderApiClient

<h3>Add New Specification</h3>

<EditForm Model="@model" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Name</label>
        <InputText @bind-Value="model.name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Instructions</label>
        <InputTextArea @bind-Value="model.instructions" class="form-control" rows="4" />
    </div>

    <button class="btn btn-success" type="submit">Save</button>
    <button class="btn btn-secondary ms-2" @onclick="cancel">Cancel</button>
</EditForm>


@code {
    private SpecificationDTO model = new();

    private async Task HandleSubmit()
    {
        int effect = await OrderApiClient.CreateSpecificationAsync(model);
        if (effect>0)
        {
            Nav.NavigateTo("/specification");
        }
    }
    private void cancel(){
        Nav.NavigateTo("/specification");
    }
}
